/* 
Orden de las propiedades de los selectores:
1. Posicionamiento: display, static, relative, absolute, etc
2. Modelo caja: content(width,height,min/max) , padding, border, margin
3. Tipografía: font-family, font-size, font-weight, line-height etc.
4. Visuales: color, background,  border-radius, box-shadows, gradient, etc.
5. Otros: reglas CSS (calc()), etc. 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}
html {
  font-size: 62.5%;
}
