/* 
Orden de las propiedades de los selectores:
1. Posicionamiento: display, static, relative, absolute, etc
2. Modelo caja: content(width,height,min/max) , padding, border, margin
3. Tipografía: font-family, font-size, font-weight, line-height etc.
4. Visuales: color, background,  border-radius, box-shadows, gradient, etc.
5. Otros: reglas CSS (calc()), etc. 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}
html {
  font-size: 62.5%;
}
body {
  min-width: 375px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Spartan', sans-serif;
  color: var(--dark-gray);
}
header {
  position: absolute;
  width: 100%;
  min-width: 375px;
  height: 90px;
  display: flex;
  justify-content: space-between;

}
header .icon-menu {
  display: inline-block;
  margin-left: 20px;
  margin-top: 37px;
  width: 20px;
  height: 16px;
  background: url("../images/icon-hamburger.svg") center/cover no-repeat;
}
header .logo-img-container {
  display: inline;
  position: absolute;
  top: 37px;
  left: calc(50% - 31px);
  /* min-width: 375px; */
  /* width: 100%; */
  /* text-align: center; */
}
header .menu-nav {
  margin: auto 0;
}
header ul {
  text-align: flex-end;
  margin-right: 20px;
}
header li {
  display: inline;
  padding: 12px;
}
header li a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  cursor: pointer;
}
header li a:hover {
  text-decoration: underline;
  text-decoration-color: var(--black);
  text-decoration-line: 5rem;
  text-decoration-thickness: .25rem;
  text-underline-offset: .5rem;
 
}
.hero-picture-container {
  width: 100%;  
  height: 100%;
}
/* .hero-picture-container .hero-image-container {
  width: 100%;  
  height: 100%;
} */
.hero-picture-container .hero-image {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  min-width: 375px;
}
.none {
  display: none;
}
.hero-description-container {
  position: relative;
  padding: 30px;
  padding-top: 50px;
}
.hero-description-container .arrow-container {
  display: flex;
  position: absolute;
  top: -60px;
  right: 0px;
  width: 120px;
  height: 60px;
  background-color: yellow;
}
.arrow--left-container, .arrow--right-container {
  background-color: var(--black);
  width: 60px;
  height: 60px;
  border: 1px solid var(--black);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
}

.arrow-container .arrow--left {
  display: inline-block;
  width: 15px;
  height: 25px;
  background: url("../images/icon-angle-left.svg") center/cover no-repeat;
}
.arrow-container .arrow--right {
  display: inline-block;
  width: 15px;
  height: 25px;
  background: url("../images/icon-angle-right.svg") center/cover no-repeat;
}
/* hacer el hover desde mobile ya que si se hace solo desde desktop al hacer ventana chikita en desktop no tendrá el efecto */
.arrow--left-container:hover, .arrow--right-container:hover {
  background-color: var(--very-dark-gray);
}
.hero-description-container h2 {
  font-size: 2.5rem;
  color: var(--black);
}
.hero-description-container p {
  padding: 20px 0;
  line-height: 2rem;
}
.hero-description-container .cta-button {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  text-transform: uppercase;
  color: var(--very-dark-gray);
  line-height: 1.6rem;
  letter-spacing: .75rem;
  cursor: pointer;
}
.hero-description-container .cta-button:hover {
  /* We use the property filter because reaches both <p> and <span> selectors, the color property only affects the <p> */
  filter: brightness(0) saturate(100%) invert(78%) sepia(0%) saturate(13%) hue-rotate(185deg) brightness(84%) contrast(86%);
}
.hero-description-container .icon-arrow {
  display: inline-block;
  width: 45px;
  height: 13px;margin-left: 30px;
  background: url("../images/icon-arrow.svg") center/cover no-repeat;
}
.about-container {
  width: 100%;
  /* height: 100%; */
}
.about-container img {
  width: 100%;
  min-width: 375px;
}
.about-container img:last-of-type {
  position: relative;
  top: 10px;
}
.about-container article {
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 45px;
}
.about-container h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--black);letter-spacing: .5rem;
  text-transform: uppercase;
}
.about-container p {
  padding: 15px 0;
  line-height: 2rem;
}

@media screen and (min-width: 600px) {

  .hero-picture-container .hero-image {
    height: 576px;
    object-fit: cover;
  }


}

@media screen and (min-width: 800px) {

  header .logo-img-container {
    top: 60px;
    left: 50px;
  }
  .hero-picture-container .hero-image {
    height: 100%;
    object-fit: fill;
  }
  header .icon-menu {
    display: none;
  }
  header .menu-nav {
    display: block;
    position: absolute;
    top: 60px;
    left: 160px;
  }  
  header li a {
    color: var(--white);
    font-weight: 600;
  }
  header li a:hover {
    text-decoration-color: var(--white);
  }

}

@media screen and (min-width: 1024px) {
  body {
    max-height: 100vh;
  }
  main {
    display: grid;
    grid-template-columns: 0.55fr 0.45fr;
    grid-template-rows: 0.375fr 0.625fr;
    height: 100%;
    
  }
  .hero-description-container .arrow-container {

    top: calc(100% - 60px);
    left: 0px;

  }
  .about-container {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 341px;
    height: 100%;
  }
  .about-container article {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    margin: auto 0;
  }
  .about-container article p {
    padding-bottom: 0;
  }
  .about-container img {
    height: 405px;
    object-fit: cover;
    object-position: center;
  }
  .about-container img:last-of-type {
    top: 0px;
  }
  .hero-description-container {
    padding: 10vw 4vw;
  }

}

@media screen and (min-width: 1440px) {


  main {
    grid-template-columns: 1fr 650px;
    grid-template-rows: 576px 397px
  }
  .hero-picture-container .hero-image {
    height: 576px;
    object-fit: cover;
    object-position:top center;
  }
  .hero-description-container .arrow-container {
    top: calc(100% - 85px);
    width: 170px;
    height: 85px;
  }
  .arrow--left-container, .arrow--right-container {
    width: 85px;
    height: 85px;
  }
  .about-container {
   display: grid;
   grid-column: 1 / span 3;
   grid-row: 2 / span 1;
   grid-template-columns: 480px 1fr 480px;
   grid-template-rows: 397px;
   height: 100%;
}
  .about-container article {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  padding: 0;
  margin: auto 45px;
}
  .about-container img:first-of-type {
    height: 100%;
  }
  .about-container img:last-of-type {
    min-height: 326.16px;
    height: 100%;
  }
  .about-container h3 {
    font-size: 2.2rem;
  }
  .about-container p {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  .hero-description-container {
    /* padding: 0; */
    padding: 90px 70px 120px 70px;
    max-height: 576px;
  }
  .hero-description-container h2 {
    font-size: 4.2rem;
  }
  .hero-description-container p {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }


}
